name: push-notification

services:
  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - push_notification

    
  api:
    build:
      context: ./push-notification-system-backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: ./push-notification-system-backend/.env
    volumes:
      # - /usr/src/app/node_modules
      - ./push-notification-system-backend:/app
      - nodemodules:/app/node_modules
      # - /Users/jamil/Downloads/alcoupon-webapp-firebase-adminsdk.json:/app/credentials/firebase-credentials.json:ro
      - ~/.secrets/firebase/alcoupon-webapp-firebase-adminsdk.json:/etc/secrets/firebase/key.json:ro
    
    # 2. Environment Variable (Tells the app the file's path)
    environment:
      - NODE_ENV=production
      # This is the path INSIDE the container that the Node.js app reads
      - FIREBASE_SERVICE_ACCOUNT_PATH=/app/credentials/firebase-credentials.json
      # FIREBASE_SERVICE_ACCOUNT_PATH: /etc/secrets/firebase/key.json 
      # NODE_ENV: production
    expose:
      - 4000
    ports:
      - 4000:4000
    networks:
      - push_notification
    depends_on:
      - mongo
    # command: npm run dev

  # frontend:
  #   build:
  #     context: ./push-notification-system-frontend
  #     dockerfile: Dockerfile
  #   restart: "no"
  #   env_file: ./push-notification-system-frontend/.env
  #   volumes:
  #     - frontend_static_data:/app/build
  #     - ./push-notification-system-frontend:/app
  #     - /app/node_modules

  #   ports:
  #     - 3000:3000
  #   depends_on:
  #     - api
  #   networks:
  #     - push_notification
    # command: npm start


  frontend:
    build:
      context: ./push-notification-system-frontend
      dockerfile: Dockerfile
    restart: "no"
    env_file: ./push-notification-system-frontend/.env
    # volumes:
      # CRITICAL: Host mount for source code changes (Dev)
      # - ./push-notification-system-frontend:/app 
      # Named volume to ensure node_modules are preserved (Dev)
      # - frontend_nodemodules:/app/node_modules # Using a named volume for consistency
      # NOTE: The conflicting 'frontend_static_data:/app/build' volume was removed.
    ports:
      - 3000:3000
    depends_on:
      - api
    networks:
      - push_notification

 


  # nginx:
  #   image: alpine/null # Use a dummy image
  #   ports: []          # Remove host port binding
  #   command: ["tail", "-f", "/dev/null"] # Keep it running but inactive
  #   restart: "no"

  nginx:
    image: nginx
    container_name: nginx
    restart: always
    ports:
        - "80:80"
        - "443:443"
    volumes:
      - frontend_static_data:/usr/share/nginx/html:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - api
    networks:
      - push_notification

volumes:
  frontend_nodemodules:
    driver: local
  mongo_data:
    driver: local
  frontend_static_data: 
    driver: local 
  nodemodules:
    driver: local
networks:
  push_notification:
    driver: bridge
  


    